on: [push]
name: Run Test Cases
jobs:
  go-path-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          path: src/github.com/qiniu/go-sdk
          ref: ${{ github.ref }}
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.10.x'
      - name: Run cases
        run: |
          GOPATH=$GITHUB_WORKSPACE go get github.com/qiniu/x
          GOPATH=$GITHUB_WORKSPACE go get golang.org/x/sync/singleflight
          GOPATH=$GITHUB_WORKSPACE make test
        working-directory: src/github.com/qiniu/go-sdk
        env:
          accessKey: ${{ secrets.ACCESSKEY }}
          secretKey: ${{ secrets.SECRETKEY }}
          QINIU_KODO_TEST: '1'
          QINIU_TEST_BUCKET: ${{ secrets.QINIU_TEST_BUCKET }}
          QINIU_TEST_DOMAIN: ${{ secrets.QINIU_TEST_DOMAIN }}
          QINIU_TEST_PIPELINE: ${{ secrets.QINIU_TEST_PIPELINE }}
      - name: Upload coverage.txt
        run: |
          bash <(curl -s https://codecov.io/bash) -f coverage.txt
        working-directory: src/github.com/qiniu/go-sdk
  go-mod-test:
    needs: 'go-path-test'
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        go_version: ['1.11.x', '1.12.x', '1.13.x', '1.14.x', '1.15.x', '1.16.x']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go_version }}
      - name: Run cases
        run: |
          make test
        env:
          accessKey: ${{ secrets.ACCESSKEY }}
          secretKey: ${{ secrets.SECRETKEY }}
          QINIU_KODO_TEST: '1'
          QINIU_TEST_BUCKET: ${{ secrets.QINIU_TEST_BUCKET }}
          QINIU_TEST_DOMAIN: ${{ secrets.QINIU_TEST_DOMAIN }}
          QINIU_TEST_PIPELINE: ${{ secrets.QINIU_TEST_PIPELINE }}
          GO111MODULE: 'on'
      - name: Upload coverage.txt
        run: |
          bash <(curl -s https://codecov.io/bash) -f coverage.txt
