on: [push, pull_request]
name: Run Test Cases
jobs:
  go-mod-test:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        go_version: ['1.22', 'stable']
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          submodules: recursive
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go_version }}
      - name: Format
        run: |
          if [ "${{ matrix.go_version }}" = "stable" ]; then
            UNFORMATTED=$(gofmt -s -l . | grep -v vendor/ || true)
            if [ -n "$UNFORMATTED" ]; then
              echo "Files not formatted:"
              echo "$UNFORMATTED"
              exit 1
            fi
          fi
      - name: Golint
        run: |
          if [ "${{ matrix.go_version }}" = "stable" ]; then
            set -e
            go install honnef.co/go/tools/cmd/staticcheck@latest
            make staticcheck
          fi
      - name: Build examples
        if: matrix.go_version == 'stable'
        run: go build ./examples/...
      - name: Run unit cases
        run: |
          set -e
          make unittest
        env:
          GO111MODULE: 'on'
  go-mod-test-windows:
    needs: 'go-mod-test'
    runs-on: windows-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          submodules: recursive
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: Run unit cases
        run: |
          set -e
          make unittest
        shell: bash
  go-mod-test-macos:
    needs: 'go-mod-test-windows'
    runs-on: macos-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          submodules: recursive
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: Install dependencies
        run: |
          brew install make
      - name: Run unit cases
        run: |
          set -e
          make unittest
